<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="RoosterTeeth.php Test Suite">
            <directory>tests/RoosterTeeth/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/RoosterTeeth/</directory>
        </whitelist>
    </filter>
</phpunit>